<!DOCTYPE html>
<html>

  <%-include('../global/navbar',{entry: totalposts });-%>
  <%- include('../global/header' ,{title: "Create A Blog!"}); %>


  <form action="/blog" method="post">
      <% let selectedUser = users.name; %> 
      <% console.log(selectedUser); %> 
      <% let authors = ["user1", "user2", "user3", "user4"]; %> 
       <label for="author">Author:</label><br> 
        <select name="author" id="author"> 
          <% for (let author of authors) {%> 
            <option value="<%=selectedUser%>"><%=selectedUser%></option> 
            <%}%> 
    </select>
    <br>
    <label for="title">Title:</label><br>
    <input required type="text" id="title" name="title"><br>
    <label for="date">Date:</label><br>
    <input required type="text" id="date" name="date"><br>
    <label for="lyric">Lyric:</label><br>
    <input required type="text" id="lyric" name="lyric"><br>
    <label for="entry">Entry:</label><br>
    <input required type="text" id="entry" name="entry"><br>


    <input type="submit" value="Submit">
  </form>

<%- include('../global/footer'); %>

</html>
