<%- include('../global/header', {title: post, isBlog:true}); %>
<%- include('../global/navbar', {blog_info: allPosts, isBlog:true}); %>

<h1><%=post%></h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <strong>Bored??</strong> Try drinking some coffee!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col px-lg-5">
      By
      <%= allPosts[post].author %>, on
      <%= allPosts[post].date %>
    </div>
  </div>

  <div class="row content">
    <div class="col px-lg-5">
      <%= allPosts[post].content1 %> <br><br>
      <%= allPosts[post].content2 %> <br><br><br>

      <a class="create" href="/createRecipe">Update this recipe</a><br>
      <a class="create" href="/recipe/delete/<%=uncut%>">Delete this recipe</a><br><br>


      Leave a comment:<br>
        <label for="author">Author:</label><br>
        <select name="author" id="author">
          <%for(auth in validAuthors){%>
            <%let author = validAuthors[auth]; %>
            <option id="newName" value="<%=author%>"><%=author%></option>
          <%}%>
        </select><br>

        <label for="content">Comment:</label><br>
        <input type="text" id="newContent" name="content"><br>
        <label for="date">Date:</label><br>
        <input type="text" id="newDate" name="date"><br>
      <button id="commentSubmit" type="button">Submit</button> <br><br>


      <%for(val in allPosts[post].comments){%>
        <%let comment = allPosts[post].comments[val].content; %>
        <%let author  = allPosts[post].comments[val].author; %>
        <%let date    = allPosts[post].comments[val].date; %>
        <%let likes   = allPosts[post].comments[val].likes; %>

        <div class="commentTag" id="<%=val%>"> <%=comment+" - by "+author+" on "+date%> </div> <br>

        Likes: <span id="like_count<%=val%>"><%=likes%></span>
        <button id="like_button<%=val%>" type="button">Like</button><br><br>

      <%}%>
    </div>
  </div>
</div>

<script src="../js/blog_scripts.js"></script>
<%- include ('../global/footer'); %>
